/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');



.title-container {
  display: flex;
  font-family: "Pacifico", cursive;
  font-size: 77px;
  text-align: center;
  color: black;
  line-height: normal;
  justify-content: center;
}

.title {
  position: relative;
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-size: 77px;
  text-align: center;
  color:black;
  line-height: normal;
}

.title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 0.8s ease, left 0.8s ease;
}

.title:hover::before {
  width: 100%;
  left: 0;
}

.post-add {
  margin-top: 2.5%;
  margin-left: 15px;
}
.add {
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 10px;
  background: linear-gradient(45deg,
              #207453fb 0%,
              #1a6349fb 25%,
              #135339fb 50%,
              #0f3b30fb 75%,
              #0f3430fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.add:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.add:not(:hover) {
  transition: transform 0.3s ease;
}

.posts-grid {
  margin: 50px;
  display: flex;
  padding: 50px;
  gap: 100px;
  justify-content: space-around;
  white-space: nowrap;
}

.post-item {
  width: 400px;
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  display: inline-block;
  border-radius: 40px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.7);
}

.post-item:hover {
  transform: scale(1.1) translateZ(10px);
  transition: transform 0.3s ease;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4), -8px -8px 20px rgba(255, 255, 255, 0.8);

}

.post-item:not(:hover) {
  transition: transform 0.3s ease;
}


.post-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

.post-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  padding: 5px;
}

.read-article, .edit, .delete{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin: 3px;
}


h2{
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  margin-bottom: 0;
  margin-left: 10px;
}

h5{
  font-family: "Maven Pro", sans-serif;
  margin: 10px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  color: #0f3430fb;
}

.carousel-btn-left {
  left: 10px;
}

.carousel-btn-right {
  right: 10px;
}

.hidden-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.form-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
}
