/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* pour éviter les défilements accidentels */
}

nav{
  background-color: #0f3430fb;
  filter: none;
  display: flex;
  height: 5em;
}

.non-auth-nav {
  display: flex;
  justify-content: flex-end;
}

.auth-nav{
  width: 100%;
  display: flex;
  padding: 0 2vw 1vh;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

li {
  display: flex;
}

.btn-profile{
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-left: -30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.btn-logout{
  position: absolute;
  margin-top: 5px;
  margin-right: 35px;
  right: 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: #0f3430fb;
  border: 0.5px solid white;
  padding: 9.3px;
  width: 7.3em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.btn-login, .btn-signup{
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 15px;
}

.btn-login{
  padding: 9.3px;
  width: 7.3em;
  background-color: #37b9aa74;
  border: 0.5px solid black;
  font-family: 'Open Sans', sans-serif;
}

.btn-signup{
  text-decoration: none;
  background-color: #0f3430fb;
  color: white;
  border: 0.5px solid white;
  padding: 9.3px;
  width: 7.3em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.background-container, img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.75);
}

.catchy-words {
  margin-top: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.catchy-words, .h1 {
  font-family: "Pacifico", cursive;
  font-size: 77px;
  text-align: center;
  color: white;
  line-height: normal;
  justify-content: center;
}

.input-btn{
  width: 100%;
  display: flex;
  height: 100%;
}

.search-bar{
  position: relative;
  border: solid 1px white;
  width: 80%;
  height: 7%;
  border-radius: 4px;
  background-color: white;
  opacity: 0.7;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  flex-direction: column;
}
.search-bar input {
  flex: 1;
  margin-left: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
}

.search-bar input::placeholder {
  color: rgba(0, 0, 0, 0.535);
}

.search-bar input:focus {
  outline: none;
}

.search-btn {
  position: relative;
  border: none;
  width: 5%;
  background-color: transparent;
  cursor: pointer;
}


.btn-profile:hover, .btn-login:hover, .btn-logout:hover, .btn-signup:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.btn-profile:not(:hover), .btn-login:not(:hover), .btn-logout:not(:hover), .btn-signup:not(:hover) {
  transition: transform 0.3s ease;
}
