{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/blogpost_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block content %}

  <div class="title">The {{ username_in_url|capfirst }}'s Journey</div>

    {% comment %} {% for post in posts %}

        <article>
            <h2>{{ post.title }}</h2>

            {% if post.author == request.user %}

              <div>
                  <a href="{% url 'posts:edit' username=request.user.username slug=post.slug %}">Éditer</a>
                  <a href="{% url 'posts:delete' username=request.user.username slug=post.slug %}">Supprimer</a>
              </div>

            {% endif %}

            <h5>Publié par <i>{{ post.author_or_default|capfirst }}</i> le {{ post.created_on|date:'j F Y' }}</h5>
            <p>{{ post.content|safe|truncatewords:50 }}</p>

            <form action="{% url 'posts:post' username=request.user.username slug=post.slug %}">
              <button>Lire l'article</button>
            </form>

            {% if post.images.all.first %}
                <div class="text-center">
                    <img class="detail_picture img-thumbnail" src="{{ post.images.all.first.img.url }}">
                </div>
            {% endif %}

        </article>
        {% endfor %} {% endcomment %}

        {% comment %} <div class="posts-grid">
          {% for post in posts %}
            <article class="post-item" style="background-image: url('{{ post.images.all.first.img.url }}');">
                <div class="post-info">
                    <h2>{{ post.title|capfirst }}</h2>
                    <h5>Le {{ post.created_on|date:'j F Y' }}</h5>
                </div>

                {% if post.author == request.user %}
                    <div class="post-actions">
                        <a href="{% url 'posts:edit' username=request.user.username slug=post.slug %}">Éditer</a>
                        <a href="{% url 'posts:delete' username=request.user.username slug=post.slug %}">Supprimer</a>
                    </div>
                {% endif %}

                <form action="{% url 'posts:post' username=request.user.username slug=post.slug %}" class="read-article-form">
                    <button>Lire l'article</button>
                </form>
            </article>
          {% endfor %}
        </div>
        {% endblock %} {% endcomment %}


        <div class="carousel-container">
          <button class="carousel-btn carousel-btn-left">
              <i class="fa-solid fa-circle-chevron-left"></i>
          </button>
          <div class="carousel-content">

            <div class="posts-grid">
              {% for post in posts %}
                <article class="post-item" style="background-image: url('{{ post.images.all.first.img.url }}');">
                    <div class="post-info">

                      <a href="{% url 'posts:post' username=request.user.username slug=post.slug %}" class="read-article">
                        <h2>{{ post.title|capfirst }}</h2>
                      </a>
                        <h5>Le {{ post.created_on|date:'j F Y' }}</h5>
                    </div>

                    {% if post.author == request.user %}
                        <div class="post-actions">
                            <a href="{% url 'posts:edit' username=request.user.username slug=post.slug %}" class="edit"><i class="fa-solid fa-pencil fa-lg"></i></a>
                            <a href="{% url 'posts:delete' username=request.user.username slug=post.slug %}" class="delete"><i class="fa-regular fa-trash-can fa-lg"></i></a>
                        </div>
                    {% endif %}
                </article>
              {% endfor %}
            </div>

          </div>

          <button class="carousel-btn carousel-btn-right">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
            </div>

    <script src="https://kit.fontawesome.com/a40355b42d.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            let currentIndex = 0;

            $('.carousel-btn-right').click(function(){
                if(currentIndex < ($('.post-item').length - 3)) {
                    currentIndex++;
                    updateCarousel();
                }
            });

            $('.carousel-btn-left').click(function(){
                if(currentIndex > 0) {
                    currentIndex--;
                    updateCarousel();
                }
            });

            $('.carousel-content').on('wheel', function(e) {
              if (e.originalEvent.deltaY > 0 && currentIndex < ($('.post-item').length - 3)) { // Défilement vers la droite
                  currentIndex++;
                  updateCarousel();
              } else if (e.originalEvent.deltaY < 0 && currentIndex > 0) { // Défilement vers la gauche
                  currentIndex--;
                  updateCarousel();
              }
            });

            function updateCarousel() {
                const scrollAmount = currentIndex * 500; // 400px (largeur) + 100px (gap)
                $('.posts-grid').css('transform', 'translateX(' + -scrollAmount + 'px)');
            }
        });
    </script>

{% endblock %}
