{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/blogpost_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <title>Journey Blog</title>
{% endblock %}

{% block content %}
  <div class="title-container">
    <div class="title">The {{ username_in_url|capfirst }}'s Journey</div>

    {% if request.user.is_authenticated and request.user.username == username_in_url %}
      <div class="post-add">
        <a href="{% url 'posts:create' %}">
          <div class="add"><i class="fa-solid fa-circle-plus"></i></div>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="carousel-container">

      <button class="carousel-btn carousel-btn-left">
          <i class="fa-solid fa-circle-chevron-left"></i>
      </button>

      <div class="carousel-content">

        <div class="posts-grid">
          {% for post in posts %}
            {% comment %} <article class="post-item" style="background-image: url('{{ post.images.all.first.img.url }}');"> {% endcomment %}
            {% if post.images.all.first %}
              <article class="post-item" style="background-image: url('{{ post.images.all.first.img.url }}');">
            {% else %}
              <article class="post-item" style="background-image: linear-gradient(to bottom, rgba(71, 68, 68, 0.453), rgba(0, 0, 0, 0.562));">
            {% endif %}
              <div class="post-info">
                  <a href="{% url 'posts:post' username=request.user.username slug=post.slug %}" class="read-article">
                    <h2><span style="font-weight: bold; color: white; text-shadow: 4px 4px 5px rgba(10, 10, 10, 0.509);">{{ post.title|capfirst }}</span></h2>

                  </a>
                    <h5><span style="text-shadow: 4px 4px 5px rgba(10, 10, 10, 0.509);">Le {{ post.created_on|date:'j F Y' }}</span></h5>
                </div>

                {% if post.author == request.user %}
                  <div class="post-actions">
                      <a href="{% url 'posts:edit' username=request.user.username slug=post.slug %}" class="edit"><span style="text-shadow: 4px 4px 5px rgba(10, 10, 10, 0.509);"><i class="fa-solid fa-pencil fa-lg"></span></i></a>
                      <a href="{% url 'posts:delete' username=request.user.username slug=post.slug %}" class="delete"><span style="text-shadow: 4px 4px 5px rgba(10, 10, 10, 0.509);"><i class="fa-regular fa-trash-can fa-lg"></span></i></a>
                  </div>
                {% endif %}

            </article>
          {% endfor %}
        </div>

      </div>

      <button class="carousel-btn carousel-btn-right">
        <i class="fa-solid fa-circle-chevron-right"></i>
      </button>

    </div>

    <script src="https://kit.fontawesome.com/a40355b42d.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            let currentIndex = 0;

            $('.carousel-btn-right').click(function(){
                if(currentIndex < ($('.post-item').length - 3)) {
                    currentIndex++;
                    updateCarousel();
                }
            });

            $('.carousel-btn-left').click(function(){
                if(currentIndex > 0) {
                    currentIndex--;
                    updateCarousel();
                }
            });

            $('.carousel-content').on('wheel', function(e) {
              if (e.originalEvent.deltaY > 0 && currentIndex < ($('.post-item').length - 3)) { // Défilement vers la droite
                  currentIndex++;
                  updateCarousel();
              } else if (e.originalEvent.deltaY < 0 && currentIndex > 0) { // Défilement vers la gauche
                  currentIndex--;
                  updateCarousel();
              }
            });

            function updateCarousel() {
                const scrollAmount = currentIndex * 500; // 400px (largeur) + 100px (gap)
                $('.posts-grid').css('transform', 'translateX(' + -scrollAmount + 'px)');
            }
        });

    </script>

{% endblock %}
